# Iris flower classification

In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Loading the data

In [8]:
data=pd.read_csv("Iris.csv")

In [9]:
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

# Using Label Encoder for output variable

In [10]:
from sklearn.preprocessing import LabelEncoder

In [12]:
label_encode=LabelEncoder()

In [14]:
y=label_encode.fit_transform(data["Species"])

In [15]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [31]:
x=data.drop(labels=["Species","Id"],axis=1)

In [32]:
x.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

# splitting the data for training and testig

In [23]:
from sklearn.model_selection import train_test_split

In [33]:
 X_train, X_test, y_train, y_test=train_test_split(x,y,test_size=0.2)

In [34]:
X_train

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
74             6.4           2.9            4.3           1.3
0              5.1           3.5            1.4           0.2
136            6.3           3.4            5.6           2.4
139            6.9           3.1            5.4           2.1
9              4.9           3.1            1.5           0.1
..             ...           ...            ...           ...
118            7.7           2.6            6.9           2.3
119            6.0           2.2            5.0           1.5
107            7.3           2.9            6.3           1.8
30             4.8           3.1            1.6           0.2
128            6.4           2.8            5.6           2.1

[120 rows x 4 columns]

# Using Ensemble Learnig Technique

In [21]:
from sklearn.ensemble import RandomForestClassifier

In [22]:
classifier=RandomForestClassifier(n_estimators=100)

In [36]:
classifier.fit(X_train,y_train)

RandomForestClassifier()

In [38]:
y_predict=classifier.predict(X_test)

# accuracy of the model

In [39]:
from sklearn.metrics import accuracy_score

In [40]:
accuracy_score(y_predict,y_test)

0.9666666666666667